body {
  --accent-color: orangered;
  --background-color: white;
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  overflow: hidden;

  background-color: var(--background-color);
  color: var(--text-color);
  transition: var(--transition-delay);
}
body.dark {
  --accent-color: #d0d066;
  --background-color: #333;
  --text-color: white;
}
.title {
  margin: 0;
  margin-bottom: 0.5rem;
}
.theme-toggle-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  transition: var(--transition-delay);
  transform: scale(1);
}
.theme-toggle-button .icon {
  margin-right: 0.5rem;
  fill: var(--button-text-color);
  transition: var(--transition-delay);
}
.theme-toggle-button:hover,
.theme-toggle-button:focus {
  transform: scale(1.1);
}
.sun-moon-container {
  --rotation: 0;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  height: 200vmin;
  transform: rotate(calc(var(--rotation) * 1deg));
  transition: transform var(--transition-delay);
}
.sun,
.moon {
  position: absolute;
  transition: opacity var(--transition-delay);
  width: 30px;
  height: 30px;
  fill: var(--accent-color);
}
.sun {
  top: 5%;
  opacity: 1;
}
.dark .sun {
  opacity: 1;
}
.moon {
  bottom: 5%;
  opacity: 0;
  transform: rotate(180deg);
}
.dark .moon {
  opacity: 1;
}
